<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>About NMHIDTA</title>
<meta name="keywords" content="clean blog template, about page, html css layout" />
<meta name="description" content="Clean Blog Template is a W3C standards-compliant HTML-CSS layout by templatemo.com" />
<link href="templatemo_style.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div id="templatemo_wrapper">

	<div id="templatemo_menu">
                
        <ul>
            <li><a href="/home">Home</a></li>
            <li><a href="/databases/new">New Entry</a></li>
            <li><a href="search.html" class="current">Search</a></li>
            <li><a href="/pages/support.html">Support</a></li>
        </ul>	
    
    </div> <!-- menu -->

    <div id="templatemo_left_column">
    
        <div id="templatemo_header">
        
            <div id="site_title">
                <h1><a href="#" target="_parent">NM<strong>HIDTA</strong><span>New Mexico High Intensity Drug Trafficking Area</span></a></h1>
            </div><!-- end of site_title -->
            
        </div> <!-- end of header -->  
        
        <div id="templatemo_sidebar">
    	
            <div id="templatemo_rss">
            
                <a href="#">Welcome <br /><span>to NMHIDTA database</span></a>
                
            </div>
            
            <h4>LINKS 1</h4>
            <ul class="templatemo_list">
            
            </ul>
            
            <div class="cleaner_h40"></div>
            
            <h4>Links 2</h4>
            <ul class="templatemo_list">

            </ul>
            
        </div> <!-- end of templatemo_sidebar --> 
    
    </div> <!-- end of templatemo_left_column -->
    
    <div id="templatemo_right_column">
    
    
 <!------------------------------------------------------------------------->       
        <div id="templatemo_main">
        <h7>Search Database</h7></br>

               
<table border="1" bordercolor="#CCFFCC" style="background-color:#CCCC99" width="100%" cellpadding="1" cellspacing="1">
<tr><td>

<%= form_tag databases_path, :method => 'get' do %>

<table border="1" bordercolor="#000000" style="background-color:#CCCC99" width="100%" cellpadding="1" cellspacing="1">
<tr>
<td style="width:200px;height:10px;"><h7> Search Entire Database</h7></td><td><%= text_field_tag :search, params[:search], :size =>40 %></td><td>    <%= submit_tag "search", :name => nil %>   </td>
</tr>
</table>
<% end %>
</br>

<%= form_tag vehicles_path, :method => 'get' do %>
<table border="1" bordercolor="#000000" style="background-color:#CCCC99" width="100%" cellpadding="1" cellspacing="1">
<tr>
<td style="width:200px;height:10px;"><h7> Search by Vehicles</h7></td><td><%= text_field_tag :search, params[:search], :size =>40 %></td><td>    <%= submit_tag "search", :name => nil %>   </td>
</tr>
</table>
</br>
<% end %>
<%= form_tag subjects_path, :method => 'get' do %>
<table border="1" bordercolor="#000000" style="background-color:#CCCC99" width="100%" cellpadding="1" cellspacing="1">
<tr>
<td style="width:200px;height:10px;"><h7> Search by subject</h7></td><td><%= text_field_tag :search, params[:search], :size =>40 %></td><td>    <%= submit_tag "search", :name => nil %>   </td>
</tr>
</table>
</br>
<% end %>
<%= form_tag drugs_path, :method => 'get' do %>
<table border="1" bordercolor="#000000" style="background-color:#CCCC99" width="100%" cellpadding="1" cellspacing="1">
<tr>
<td style="width:200px;height:10px;"><h7> Search by drugs</h7></td><td><%= text_field_tag :search, params[:search], :size =>40 %></td><td>    <%= submit_tag "search", :name => nil %>   </td>
</tr>
</table>
<% end %>


</td>
</tr>
</table>

      
        
        
        </div>
  <!------------------------------------------------------------------------->    
  <div class="cleaner"></div>
  </div> 
    <!-- end of templatemo_main -->
  <div class="cleaner_h20"></div>
  
  	<div id="templatemo_footer">
    
		Copyright © 2013 <a href="#">NMHIDTA</a> | 
        <a href="http://nmhidta.org" target="_parent">Database</a> by <a href="http://www.unm.edu" target="_parent">Green team</a>
        
    </div>
  
    <div class="cleaner"></div>
</div> <!-- end of warpper -->

</body>
</html>