  <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>New Database</title>
<meta name="keywords" content="clean blog template, about page, html css layout" />
<meta name="description" content="Clean Blog Template is a W3C standards-compliant HTML-CSS layout by templatemo.com" />
<link href="templatemo_style.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div id="form_wrapper">

	<div id="templatemo_menu">
                
        <ul>
            <li><a href="/home">Home</a></li>
            <li><a href="/databases/new">New Entry</a></li>
            <li><a href="/databases/search.html">Search</a></li>
            <li><a href="/pages/support.html">Support</a></li>
        </ul>	
    
    </div> <!-- menu -->

    
    <div id="form_right_column">
  
 <!------------------------------------------------------------------------->       
        <div id="form_main">
<p id="notice"><%= notice %></p>
<table width="100%"><tr><td><h7>Record for : <%= @database.name1 %></h7></td>
<td><h7><%= render :partial => @database %></h7></td></tr></table>

 <table border="1" bordercolor="#000000" style="background-color:#F7F8E0" width="100%" cellpadding="3" cellspacing="1" > 
	<tr>
		<td style="text-align:center"> <h7> NM HIDTA ISC EVENT/SEIZURE REPORT</h7> <br/>
 			PLEASE E-MAIL TO NM INVESTIGATIVE SUPPORT CENTER<br/>
 						TELEPHONE: (575) 647-6900<br/>
 						nmisc@nmhidta.org  </td>
	</tr>
	<tr>
		<td><div id="form_box">
		<table width="100%"><tr>
		<td style="width:50%;height:15px;">
		      <h7>seizing taskforce </h7>: <%= @database.seizing_taskforce %></td>
		  <td><h7>investigating agency </h7>: <%= @database.investigating_agency %></br></td>
		 </tr></table>
		<table width="100%"><tr>
		  <td style="width:32%;height:15px;"><h8>agency_case #:</h8>  <%= @database.agency_case %></td>
		  <td style="width:24%;height:15px;"><h8>cjis #: <%= @database.cjis %></h8></td>
 		  <td style="width:44%;height:15px;"><h7>hidta_initiative : <%= @database.hidta_initiative %></h7></td></tr></table>
		<table width="100%"><tr>     
		  <td style="width:35%;height:15px;"><h8>date_of_seizure: <%= @database.date_of_seizure %></h8></td>
		  <td style="width:33%;height:15px;"><h8>time  :  <%= @database.time %></h8></td>
		  <td style="width:32%;height:15px;"><h8>day_of_the_week : <%= @database.day_of_the_week %> </h8></td></tr></table>
		<table width="100%"><tr>     
		  <td style="width:50%;height:15px;"><h8>type_of_event : </h8> <%= @database.type_of_event %></td>
		  <td style="width:50%;height:15px;"><h8>dhe_operation : </h8> <%= @database.she_operation %></td></tr></table>
	</div>	</td>   
	</tr>
	<tr>
		<td><div class="field">
		<h7> Location:</h7></br>
<div id="form_box">	
<table width="100%">
    <tr> 	
     <td style="width:32%;height:15px;"><h8>Road/highway:</h8> <%= @database.Road %></td>
     <td style="width:28%;height:15px;"><h8>mile marker:</h8> <%= @database.mile_marker %></td>
     <td style="width:40%;height:15px;"><h8>direction of travel : </h8> <%= @database.direction %></td></tr></table> 
<table width="100%"><tr>
     <td style="width:100%;height:15px;"><h8>street address: </h8> <%= @database.street_address %></td></tr></table> 
<table width="100%"><tr>
     <td style="width:17%;height:15px;"><h8>city: </h8> <%= @database.city %></td>
     <td style="width:47.5%;height:15px;"><h8>country </h8>: <%= @database.country %></td>
     <td style="width:25%;height:15px;"><h8>state: </h8> <%= @database.state %></td>
	 <td style="width:13%;height:15px;"><h8>zip: </h8> <%= @database.zip %></td></tr></table>     
		
</div>	 </td>
</div></td>
	</tr>
	<tr>
	<td>
<h7> SEIZURE:</h7>
<table border="0" style="background-color:#F7F8E0" width="100%">
			<tbody>
				<tr>
					<td style="width:18%;height:9px;">
<table border="0" bordercolor="#000000" style="background-color:#F7F8E0" width="100%" cellpadding="2" cellspacing="0">
	<tr>
		<td style="width:100%;height:15px;">
		<h7>TYPE OF DRUG(S):</h7>
		</td>
	</tr>
	<tr>
		<td> &nbsp </td>
	</tr>
	<tr>
		<td><h7>AMOUNT(S):</h7></td>
	</tr>
	<tr>
		<td><h7>CURRENCY:</h7></td>
	</tr>
</table>

</td>
					<td>
					
<table border "1" bordercolor="#000000"  width="100%" cellpadding="0" cellspacing="0">
					<tr>
					<td colspan="2" style="width:33%;height:9px;">
						<%= @database.drug1 %>
					</td>
					<td colspan="2" style="width:33%;height:9px;">
						<%= @database.drug2 %>
					</td>
					<td colspan="2" style="width:34%;height:9px;">
						<%= @database.drug3 %>
					</td>
				</tr>
				<tr>

					<td style="width:13%;height:18px;">
						</br><%= @database.drug1_amount %>
					</td>
					<td style="width:20%;height:18px;">
						Purchase Price</br> $ <%= @database.rice1 %>
					</td>
					<td style="width:13%;height:18px;">
						</br><%= @database.drug2_amount %>
					</td>
					<td style="width:20%;height:18px;">
						Purchase Price</br> $ <%= @database.price2 %>
					</td>
					<td style="width:14%;height:18px;">
						</br><%= @database.drug3_amount %>
					</td>
					<td style="width:20%;height:18px;">
						Purchase Price</br> $ <%= @database.price3 %>
					</td>
					</tr>
				</tr>
				<tr>
					<td style="width:90px;height:10px;">
						$<%= @database.extra1 %>
					</td>
					<td colspan="6" style="width:453px;height:10px;">
			
				<h8>&nbsp WEAPON(S):</h8> <h9>(Type, Caliber, SN) <%= @database.extra2 %></h9>
					</td>
				</tr>
				</td>
				</table>

					</td>
				</tr> 
			</tbody>
		</table>
 <!----------------------Drug part start-------------------------------> 
<table border="0" style="background-color:#CEF6E3" width="100%">
<div id="drugs">

<tr>
	<th>Name</th>
	<th>Amount</th>
	<th>Price</th>
	<th>Weapons</th>
	<th>Date Entered</th>
</tr>

<% @database.drugs.each do |drug| %>
		<%= div_for drug do %>
<tr>
    <td><%= drug.drug_name %></td>
    <td><%= drug.drug_amount %></td>
    <td><%= drug.drug_price %></td>
    <td><%= drug.weapons %></td>
    <td><%= drug.created_at %></td>
  </tr>
  </div>

<% end %>
<% end %>
</table>
<%= simple_form_for [@database, Drug.new], :remote => true do |f| %>
  <div class="form-inputs">
    
<table border="0" style="background-color:#F6CECE" width="100%"><tr>
    <td>Name: <%= f.text_field :drug_name,:size => 10 %></td>
    <td>Amount: <%= f.text_field :drug_amount,:size => 10 %></td>
    <td>Price: <%= f.text_field :drug_price,:size => 10 %></td>
    <td>Weapons: <%= f.text_field :weapons,:size => 10 %></td>
    <td><%= f.submit "Add drugs" %> </td>
  </tr>    
</table>    
  </div>
<% end %>
 <!----------------------Drug part end------------------------------->		
<table  width="100%">
				<tr>
					<td colspan="4" style="width:316px;height:10px;">
						<h7>ORIGINATION POINT: <%= @database.extra3 %></h7>
					</td>
					<td colspan="4" style="width:318px;height:10px;">
						<h7>DESTINATION POINT: <%= @database.extra4 %></h7> 
					</td>
				</tr>
				</table>	

	
	</td>
	</tr>
	<tr><td> 
	<h7>subjects:</h7>
	
<table  width="100%"><tr>		
<td><h8>Name: </h8><%= @database.name1 %></td>
<td><h8>DOB: </h8><%= @database.dob1 %></td>
<td><h8>SSN :</h8><%= @database.ssn1 %></td>
<td><h8>OLN: </h8><%= @database.oln1 %></td>
<td><h9>Gender:  <%= @database.gender1 %></h9></td></tr></table>
<table  width="100%"><tr>
<td><h8>address: </h8><%= @database.address1 %></td>
<td><h8>city: </h8><%= @database.city1 %></td>
<td><h8>state: </h8> <%= @database.state1 %></td>
<td><h8>zip : </h8><%= @database.zip1 %></td>
<td><h9>Subject was: <%= @database.subject1 %></h9></td></tr></table>
<table  width="100%"><tr>
<td><h8>misc : </h8><%= @database.misc1 %></td>
<td><h8>citizenship : </h8> <%= @database.citizenship1 %></td></tr></table>
<hr style="border:dashed #000000; border-width:1px 0 0 0; height:0;line-height:0px;font-size:0;margin:0;padding:0;">
<table  width="100%"><tr>		
<td><h8>Name: </h8><%= @database.name2 %></td>
<td><h8>DOB: </h8><%= @database.dob2 %></td>
<td><h8>SSN :</h8><%= @database.ssn2 %></td>
<td><h8>OLN: </h8><%= @database.oln2 %></td>
<td><h9>Gender:  <%= @database.gender2 %></h9></td></tr></table>
<table  width="100%"><tr>
<td><h8>address: </h8><%= @database.address2 %></td>
<td><h8>city: </h8><%= @database.city2 %></td>
<td><h8>state: </h8> <%= @database.state2 %></td>
<td><h8>zip : </h8><%= @database.zip2 %></td>
<td><h9>Subject was: <%= @database.subject2 %></h9></td></tr></table>
<table  width="100%"><tr>
<td><h8>misc : </h8><%= @database.misc2 %></td>
<td><h8>citizenship : </h8> <%= @database.citizenship2 %></td></tr></table>	
<!-----------------------------subject entry--start------------------>	
<table border="0" style="background-color:#CEF6E3" width="100%">
<tr><td>
<% @database.subjects.each do |subject| %>
<%= div_for subject do %>

<tr>		
<td><h8>Name: </h8><%= subject.name %></td>
<td><h8>DOB: </h8><%= subject.dob %></td>
<td><h8>SSN :</h8><%= subject.ssn %></td>
<td><h8>OLN: </h8><%= subject.oln %></td>
<td><h9>Gender:  <%= subject.gender %></h9></td></tr>
<tr>
<td><h8>address: </h8><%= subject.address %></td>
<td><h8>city: </h8><%= subject.city %></td>
<td><h8>state: </h8> <%= subject.state %></td>
<td><h8>zip : </h8><%= subject.zip %></td>
<td><h9>Subject was: <%= subject.suspect %></h9></td>
</tr>
<tr><td><h8>misc : </h8><%= subject.misc %></td>
<td><h8>citizenship : </h8> <%= subject.citizenship %></td></tr>

<% end %>
<% end %>
  </td>
  </tr> 
  </table>
	
	
	
<%= simple_form_for [@database, Subject.new], :remote => true do |f| %>
<table border="0" style="background-color:#F6CECE" width="100%"><tr>		
<td><h8><%= f.label :Name %>: </h8><%= f.text_field :name,:size => 14 %></td>
<td><h8><%= f.label :dob %>: </h8><%= f.date_select(:dob,:start_year => 1940) %></td>
<td><h8><%= f.label :ssn %>: </h8><%= f.text_field :ssn,:size => 7 %></td>
<td><h8><%= f.label :oln %>: </h8><%= f.text_field :oln,:size => 5 %></td>
<td><h9> Male <%= f.radio_button(:gender, "Male") %> Female <%= f.radio_button(:gender, "Female") %></h9></td></tr></table>
<table border="0" style="background-color:#F6CECE" width="100%"><tr>
<td><h8><%= f.label :address %>:</h8><%= f.text_field :address,:size => 24 %></td>
<td><h8><%= f.label :city %>:</h8><%= f.text_field :city,:size => 10 %></td>
<td><h8><%= f.label :state %>:</h8> <%= f.select :state, options_for_select(us_states) %></td>
<td><h8><%= f.label :zip %>:</h8><%= f.text_field :zip,:size => 5 %></td>
<td><h9>Driver <%= f.radio_button(:suspect, "Driver") %>     Pass <%= f.radio_button(:suspect, "Passenger") %></h9></td></tr></table>
<table border="0" style="background-color:#F6CECE" width="100%"><tr>
<td><h8><%= f.label :misc %>: </h8><%= f.text_field :misc,:size => 22 %></td>
<td><h8><%= f.label :citizenship %>: </h8> <%= f.select :citizenship, options_for_select(countries) %></td>
<td><div class="form-actions">
    <%= f.submit "Add Subjects" %></td></tr></table>
  </div>
  <% end %>
	
	
	
	
	</td></tr>	

<!-----------------------------subject entry--end------------------>	

	
	
	















	
	
	
	
	
	
	
<!---------------------------Vehicles info------------------------------------------->	
<tr>
		<td>	
<h7>VEHICLE(S): &nbsp &nbsp &nbsp were vehicle seized:  <%=  @database.vehicle_seized %> </h7>

<table  width="100%"><tr>		
<td><h8>make: <%= @database.vehicle1make %></td>
<td><h8>model: <%= @database.vehicle1model %></td>
<td><h8>Year: <%= @database.vehicle1year %></td>
<td><h8>license place : <%= @database.vehicle1lic_place %></td></tr></table>	
<table  width="100%"><tr>
<td><h8>state :  <%= @database.vehicle1_state %></td>
<td><h8>color : <%= @database.vehicle1_color  %></td>
<td><h8>registered owner : <%= @database.vehicle1_reg_owner  %></td></tr></table>	
    
<hr style="border:dashed #000000; border-width:1px 0 0 0; height:0;line-height:0px;font-size:0;margin:0;padding:0;">
    
<table  width="100%"><tr>		
<td><h8>make: <%= @database.vehicle2make %></td>
<td><h8>model: <%= @database.vehicle2model2 %></td>
<td><h8>Year: <%= @database.vehicle2year %></td>
<td><h8>license place : <%= @database.vehicle2lic_place %></td></tr></table>	
<table  width="100%"><tr>
<td><h8>state :  <%= @database.vehicle2_state %></td>
<td><h8>color : <%= @database.vehicle2_color  %></td>
<td><h8>registered owner : <%= @database.vehicle2_reg_owner  %></td></tr></table>  
  
		</td>
	</tr>	
	
<!--------------------------------------------------------------------->	
	<tr>
		<td><h7>TELEPHONE DATA OBTAINED: TELEPHONE # : </h7>  <%= @database.tel_no1 %> </br>
		(Attach separate list if necessary – copies of pocket trash may be submitted electronically or in hard copy)</td>
	</tr>
	<tr>
		<td>
<h7>NARRATIVE: </h7>
<table  width="100%"><tr>
<td> <h9>IS THIS SEIZURE LINKED TO A KNOWN DTO ? 
						&nbsp Yes <%= @database.linked_to %></h9></td>
<td><h9> &nbsp &nbsp &nbsp   name of organization: <%= @database.name_of_organization %></h9></td></tr></table>

<hr style="border:solid #000000; border-width:1px 0 0 0; height:0;line-height:0px;font-size:0;margin:0;padding:0;">		 

<table  width="100%"><tr>
<td><h7> CASE AGENT/POINT OF CONTACT:  <%= @database.agent_contact %></h7></td>
<td><h7>TELEPHONE: <%= @database.agent_tel %> </h7></td></tr></table>
 
		</td>
	</tr>	
<!--------------------------------------------------------------------------------->	
<tr>
		<td><h7>ADDITIONAL FACTORS:</h7>
	
<table  width="100%"><tr>
<td><h8>ANALYTICAL SUPPORT NEEDED ON THIS SEIZURE ?
						&nbsp <%= @database.analy_support %> </h8><%= @database.support_method %> </td></tr> 	
<tr><td><h8>CONCEALMENT METHOD:   <%= @database.conceal_method %>  </h8></td></tr>
<tr><td><h8>FALSE COMPARTMENT:    &nbsp  <%= @database.false_compart %>&nbsp</h8>  <h8> &nbsp LOCATION: <%= @database.comp_location %> </h8></td></tr>
<tr><td><h8>IF CONCEALED IN CARGO-STATE TYPE:   <%= @database.if_cargo %>  </h8></td></tr>
<tr><td><h8>K-9 USED:   &nbsp <%= @database.k9 %>  </h8></td></tr>
<tr><td><h8>LAB/STASH HOUSE INVOLVED:   &nbsp <%= @database.lab_inhouse %>   </h8></td></tr>
</tr>
</table>		
</td>
	</tr>	
<tr>
		<td><h7>VERY OFTEN BASIC INFORMATION FROM YOUR SEIZURE CAN BE HELPFUL TO OTHER JURISDICTIONS.
		 DOES THE NM INVESTIGATIVE SUPPORT CENTER HAVE YOUR PERMISSION TO DISSEMINATE BASIC INFORMATION
		  ON THIS CASE AS APPLICABLE?     
		  				&nbsp  <%= @database.applicable %></h7></td>
</tr>	
	
	
	</table>
</br> 
<!-------------------------------------------------------



<table border="1" style="background-color:#CEF6E3" width="100%">
</tr>
<% @database.subjects.each do |subject| %>
<%= div_for subject do %>
<table  width="100%"><tr>		
<td><h8>Name: </h8><%= subject.name %></td>
<td><h8>DOB: </h8><%= subject.dob %></td>
<td><h8>SSN :</h8><%= subject.ssn %></td>
<td><h8>OLN: </h8><%= subject.oln %></td>
<td><h9>Gender:  <%= subject.gender %></h9></td></tr></table>
<table  width="100%"><tr>
<td><h8>address: </h8><%= subject.address %></td>
<td><h8>city: </h8><%= subject.city %></td>
<td><h8>state: </h8> <%= subject.state %></td>
<td><h8>zip : </h8><%= subject.zip %></td>
<td><h9>Subject was: <%= subject.suspect %></h9></td></tr></table>
<table  width="100%"><tr>
<td><h8>misc : </h8><%= subject.misc %></td>
<td><h8>citizenship : </h8> <%= subject.citizenship %></td></tr></table>

<% end %>
<% end %>
  </tr>
</table>














<p>
  <b>Seizing taskforce:</b>
  <%= @database.seizing_taskforce %>
</p>

<p>
  <b>Investigating agency:</b>
  <%= @database.investigating_agency %>
</p>

<p>
  <b>Agency case:</b>
  <%= @database.agency_case %>
</p>

<p>
  <b>Cjis:</b>
  <%= @database.cjis %>
</p>

<p>
  <b>Hidta initiative:</b>
  <%= @database.hidta_initiative %>
</p>

<p>
  <b>Date of seizure:</b>
  <%= @database.date_of_seizure %>
</p>

<p>
  <b>Time:</b>
  <%= @database.time %>
</p>

<p>
  <b>Day of the week:</b>
  <%= @database.day_of_the_week %>
</p>

<p>
  <b>Type of event:</b>
  <%= @database.type_of_event %>
</p>

<p>
  <b>DHE operation:</b>
  <%= @database.she_operation %>
</p>

<p>
  <b>Road:</b>
  <%= @database.Road %>
</p>

<p>
  <b>Mile marker:</b>
  <%= @database.mile_marker %>
</p>

<p>
  <b>Direction:</b>
  <%= @database.direction %>
</p>

<p>
  <b>Street address:</b>
  <%= @database.street_address %>
</p>

<p>
  <b>City:</b>
  <%= @database.city %>
</p>

<p>
  <b>Country:</b>
  <%= @database.country %>
</p>

<p>
  <b>State:</b>
  <%= @database.state %>
</p>

<p>
  <b>Zip:</b>
  <%= @database.zip %>
</p>

<p>
  <b>Drug1:</b>
  <%= @database.drug1 %>
</p>

<p>
  <b>Drug1 amount:</b>
  <%= @database.drug1_amount %>
</p>

<p>
  <b>Rice1:</b>
  <%= @database.rice1 %>
</p>

<p>
  <b>Drug2:</b>
  <%= @database.drug2 %>
</p>

<p>
  <b>Drug2 amount:</b>
  <%= @database.drug2_amount %>
</p>

<p>
  <b>Price2:</b>
  <%= @database.price2 %>
</p>

<p>
  <b>Drug3:</b>
  <%= @database.drug3 %>
</p>

<p>
  <b>Drug3 amount:</b>
  <%= @database.drug3_amount %>
</p>

<p>
  <b>Price3:</b>
  <%= @database.price3 %>
</p>

<p>
  <b>Person involved :</b></br>
  <%= @database.name1 %>
</p>

<p>
  <b>DOB:</b>
  <%= @database.dob1 %>
</p>

<p>
  <b>SSN:</b>
  <%= @database.ssn1 %>
</p>

<p>
  <b>OLN:</b>
  <%= @database.oln1 %>
</p>

<p>
  <b>Gender:</b>
  <%= @database.gender1 %>
</p>

<p>
  <b>Address:</b>
  <%= @database.address1 %>
  <%= @database.city1 %>
 <%= @database.state1 %> -
  <%= @database.zip1 %>
</p>

<p>
  <b>Caught as</b>
  <%= @database.subject1 %>
  <%= @database.misc1 %>
</p>

<p>
  <b>Citizen of</b>
  <%= @database.citizenship1 %>
</p>


<p>
  <b>Name2:</b>
  <%= @database.name2 %>
</p>

<p>
  <b>DOB:</b>
  <%= @database.dob2 %>
</p>

<p>
  <b>Ssn2:</b>
  <%= @database.ssn2 %>
</p>

<p>
  <b>Oln2:</b>
  <%= @database.oln2 %>
</p>

<p>
  <b>Gender2:</b>
  <%= @database.gender2 %>
</p>

<p>
  <b>Address2:</b>
  <%= @database.address2 %>
</p>

<p>
  <b>City2:</b>
  <%= @database.city2 %>
</p>

<p>
  <b>State2:</b>
  <%= @database.state2 %>
</p>

<p>
  <b>Zip2:</b>
  <%= @database.zip2 %>
</p>

<p>
  <b>Subject2:</b>
  <%= @database.subject2 %>
</p>

<p>
  <b>Misc2:</b>
  <%= @database.misc2 %>
</p>

<p>
  <b>Citizenship2:</b>
  <%= @database.citizenship2 %>
</p>
------------------------------------------------------------------------
<p>
  <b>Picture2:</b>
  <%= @database.picture2 %>
</p>

<p>
  <b>Tel no2:</b>
  <%= @database.tel_no2 %>
</p>

<p>
  <b>Tel data2:</b>
  <%= @database.tel_data2 %>
</p>
-----------------------------------------------------------------------
<p>
  <b>Vehicle seized:</b>
  <%= @database.vehicle_seized %>
</p>

<p>
  <b>Vehicle1make:</b>
  <%= @database.vehicle1make %>
</p>

<p>
  <b>Vehicle1model:</b>
  <%= @database.vehicle1model %>
</p>

<p>
  <b>Vehicle1year:</b>
  <%= @database.vehicle1year %>
</p>

<p>
  <b>Vehicle1lic place:</b>
  <%= @database.vehicle1lic_place %>
</p>

<p>
  <b>Vehicle1 state:</b>
  <%= @database.vehicle1_state %>
</p>

<p>
  <b>Vehicle1 color:</b>
  <%= @database.vehicle1_color %>
</p>

<p>
  <b>Vehicle1 reg owner:</b>
  <%= @database.vehicle1_reg_owner %>
</p>

<p>
  <b>Vehicle2make:</b>
  <%= @database.vehicle2make %>
</p>

<p>
  <b>Vehicle2model2:</b>
  <%= @database.vehicle2model2 %>
</p>

<p>
  <b>Vehicle2year:</b>
  <%= @database.vehicle2year %>
</p>

<p>
  <b>Vehicle2lic place:</b>
  <%= @database.vehicle2lic_place %>
</p>

<p>
  <b>Vehicle2 state:</b>
  <%= @database.vehicle2_state %>
</p>

<p>
  <b>Vehicle2 color:</b>
  <%= @database.vehicle2_color %>
</p>

<p>
  <b>Vehicle2 reg owner:</b>
  <%= @database.vehicle2_reg_owner %>
</p>

<p>
  <b>Linked to:</b>
  <%= @database.linked_to %>
</p>

<p>
  <b>Name of organization:</b>
  <%= @database.name_of_organization %>
</p>

<p>
  <b>Agent contact:</b>
  <%= @database.agent_contact %>
</p>

<p>
  <b>Agent tel:</b>
  <%= @database.agent_tel %>
</p>

<p>
  <b>Analy support:</b>
  <%= @database.analy_support %>
</p>

<p>
  <b>Support method:</b>
  <%= @database.support_method %>
</p>

<p>
  <b>Conceal method:</b>
  <%= @database.conceal_method %>
</p>

<p>
  <b>False compart:</b>
  <%= @database.false_compart %>
</p>

<p>
  <b>Comp location:</b>
  <%= @database.comp_location %>
</p>

<p>
  <b>If cargo:</b>
  <%= @database.if_cargo %>
</p>

<p>
  <b>K9:</b>
  <%= @database.k9 %>
</p>

<p>
  <b>Lab inhouse:</b>
  <%= @database.lab_inhouse %>
</p>

<p>
  <b>Applicable:</b>
  <%= @database.applicable %>
</p>

<p>
  <b>Extra1:</b>
  <%= @database.extra1 %>
</p>
----------------------------------------------------------------------->

<%= link_to 'Edit', edit_database_path(@database) %> |
<%= link_to 'Back', databases_path %>





        </div>
  <!------------------------------------------------------------------------->    
  <div class="cleaner"></div>
  </div> 
    <!-- end of templatemo_main -->
  <div class="cleaner_h20"></div>
  
  	<div id="templatemo_footer">
    
		Copyright © 2013 <a href="#">NMHIDTA</a> | 
        <a href="http://nmhidta.org" target="_parent">Database</a> by <a href="http://www.unm.edu" target="_parent">Green team</a>
        
    </div>
  
    <div class="cleaner"></div>
</div> <!-- end of warpper -->

</body>
</html>